*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f7f7f7;
    color: #333;
    padding-top: 120px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(220, 41, 41);
    color: white;
    z-index: 1000;
}

/* TOP NAV */
.top-nav{
    display: grid;
    grid-template-columns: 1fr auto 1fr;;
    align-items: center;
    padding: 10px 10px;
}

.uni-Name{
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo-circle img{
    width: 36px;
}

.uni-Name h2{
    margin: 0;
    font-size: 16px;
}

.uni-Name span{
    font-size: 11px;
    opacity: 0.8;
}

.system-info{
    text-align: center;
    justify-self: center;
}

.system-info h1{
    margin: 0;
    font-size: 14px;
}

.system-info span{
    font-size: 11px;
    opacity: 0.8;
}

/* SECOND NAV */
.nav2{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    background: rgb(220, 41, 41);
    border-top: 0.1px solid rgba(255, 255, 255, 0.2);
}

.nav_link{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 14px;
    font-size: 13px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.2s;
}

/*.nav-link svg{
    width: 16px;
    height: 16px;
    fill: none;
    stroke: white;
    stroke-width: 2;
}

/* HOVER */
.nav_link:hover{
    background: rgba(255,255,255,0.15);
}

/* ACTIVE TAB */
.nav_link.active{
    background: white;
    color: rgb(220, 41, 41);
}

.nav_link.active svg{
    stroke: rgb(220, 41, 41);
    background-color: white;
} */

.special{
    background: white;
    color: rgb(220, 41, 41);
}


footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    background-color:rgba(29, 30, 33, 0.964);
    color:white;
    bottom: 0;
    width: 100%;
    gap: 20px;
    border-bottom:0.1px solid rgba(255, 255, 255, 0.2) ;
}

.Uniname{
    font-size: 25px;
    font-weight: bold;
}

.Uniadd{
    font-size: 16px;
    color: #ccc;
    margin-bottom: 40px;
}

.Unimoto{
    font-size: 16px;
    color: #ccc;
    max-width: 600px;
}

.contact{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pincode, .phone-no, .email{
    font-size: 16px;
    color: #ccc;
    margin-bottom: 14px;
    max-width: 500px;
}

.Notice{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Noticepara{
    background-color: rgb(46,48,52);
    padding: 20px 16px;
    border-radius: 8px;
    font-size: 16px;
    color:rgb(226, 222, 222);
    max-width: 540px;
}




