*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f7f7f7;
    color: #333;
}

header{
    display: flex;
    background-color: rgb(220, 41, 41);
    color:white;
    width: 100%;
    flex-direction: column;
}

/* .System-info{
    display: flex;
    justify-content:center;
    align-items: space-around;
    padding:10px 20px;


} */
.System-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 400px;
    border: 2px solid white;
    padding-left: 250px;
    padding-right: 200px;
}
.Uni-Name{
    display: flex;
    flex-direction: column;
}

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 20px;
}